<form class="form" #form="ngForm" (ngSubmit)="!alreadyExists && onSubmit()" (input)="success=false">
  <h4>Import From Our Server</h4>
  <div class="form-group">
    <label for="fingerprint">Fingerprint :</label>

    <input
      mdbInput
      type="text"
      id="fingerprint"
      class="form-control"
      [(ngModel)]="fingerprint"
      placeholder="Enter the fingerprint of the public key to import"
      name="fingerprint"
      #fingerprintInput="ngModel"
      required
      [disabled]="submitted"
      (input)="checkFingerprint($event.target.value)"
    />
  </div>

  <div
    class="alert alert-danger"
    *ngIf="fingerprintInput.touched && fingerprintInput.invalid"
  >
    Please Enter the fingerprint
  </div>

  <div class="alert alert-danger" *ngIf="alreadyExists">
    This fingerprint already exists
  </div>


  <div class="d-flex justify-content-center">
    <button
      type="submit"
      mdbBtn
      id="submitButton"
      mdbWavesEffect
      [disabled]="form.invalid||submitted||alreadyExists"
    >
      Import
    </button>
  </div>
  <div *ngIf="submitted" class="progress" style="position: relative;">
    <div class="progress-bar progress-bar-striped indeterminate"></div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    Error : {{errorMessage}}
  </div>

  <div *ngIf="success&&!submitted&&publicKey!='Bad Fingerprint'" class="alert alert-success">
    Public Key Imported Successfully: <br>
    Public Key :
    <div class="output">
      {{publicKey}}
    </div>
  </div>

  <div *ngIf="success&&!submitted&&publicKey=='Bad Fingerprint'" class="alert alert-danger">
    {{publicKey}}
  </div>

</form>
