<mdb-card-body>
    <mdb-card-title>
      <h2 id="title">Asymmetric Encryption</h2>
    </mdb-card-title>
    <form class="form" #form="ngForm" (ngSubmit)="fingerprint && onSubmit()" (input)="success=false">
      <div class="form-group">
        <label for="message">Message :</label>

        <input
          mdbInput
          type="text"
          id="message"
          class="form-control"
          [(ngModel)]="message"
          placeholder="Enter the message to encrypt here"
          name="message"
          #messageInput="ngModel"
          required
          [disabled]="submitted"
        />
      </div>

      <div
        class="alert alert-danger"
        *ngIf="messageInput.touched && messageInput.invalid"
      >
        Please Enter the message to encrypt
      </div>


      <div class="form-group">
        <label for="fingerprint">Fingerprint :</label>
        <input
          mdbInput
          type="text"
          class="form-control"
          placeholder="type the fingerprint of the public key"
          id="fingerprint"
          name="fingerprint"
          ngModel
          #fingerprintInput="ngModel"
          [disabled]="submitted"
          required
          (input)="changeFingerprint($event.target.value)"
        />
      </div>

      <div
      class="alert alert-danger"
      *ngIf="fingerprintInput.touched && fingerprintInput.invalid && fingerprintInput.errors.required">
      Please Enter the fingerprint
    </div>

    <div class="alert alert-danger"
    *ngIf="fingerprintInput.touched && fingerprintInput.valid &&fingerprint==null">
      This fingerprint doesn't exist in your keyring
    </div>


      <div class="d-flex justify-content-center">
        <button
          type="submit"
          mdbBtn
          id="submitButton"
          mdbWavesEffect
          [disabled]="form.invalid||submitted||!fingerprint"
        >
          Encrypt
        </button>
      </div>
      <div *ngIf="submitted" class="progress" style="position: relative;">
        <div class="progress-bar progress-bar-striped bg-success indeterminate"></div>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger">
        Error : {{errorMessage}}
      </div>

      <div *ngIf="result" class="alert alert-success">
        Message Encrypted Successfully: <br>
        Message:
        <div class="output">
         {{message}}
        </div>
        Encrypted message:
        <textarea readonly class="form-control output" rows=15>{{result}}
        </textarea>
        Fingerprint used :
      <div class="output">
        {{fingerprint}}
      </div>
      </div>
    </form>


  </mdb-card-body>
