<mdb-card-body>
  <mdb-card-title>
    <h2 id="title">Key List</h2>
  </mdb-card-title>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Fingerprint</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fingerprint of fingerprints">
        <td> {{fingerprint}} </td>
        <td>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" (click)="setKeyData(fingerprint)">Show</button>
        </td>

      </tr>
    </tbody>
  </table>


</mdb-card-body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Key Informations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="chosenFingerprint.length">
          Fingerprint : <div class="output">{{chosenFingerprint}}</div>
        </div>

        <div *ngIf="chosenPublicKey.length">
          Public Key:       <textarea class="form-control output" readonly rows=20>{{chosenPublicKey}}</textarea>

        </div>

        <div *ngIf="chosenPrivateKey&&chosenPrivateKey.length">
          Private Key :  <textarea class="form-control output" readonly rows=37>{{chosenPrivateKey}}</textarea>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
