    <div class="row">
      <div class="col-md-4">
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="/assets/encoding-icon-29.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Base64 Encoder/Decoder</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text> This module allows you to encode/decode strings
            </mdb-card-text>

            <a routerLink="/encoder-decoder"  mdbBtn class="access" mdbWavesEffect>Try it now!</a>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-md-4">

      <mdb-card >
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="/assets/hashtag_icon-.png" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Hasher</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> This module allows you to hash strings
          </mdb-card-text>

          <a routerLink="/hasher"  mdbBtn class="access" mdbWavesEffect>Try it now!</a>
        </mdb-card-body>
      </mdb-card>

      </div>

      <div class="col-md-4">
        <mdb-card >
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="/assets/reset-password-icon-29.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Password Cracker</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text> This module allows you to crack a password using different methods
            </mdb-card-text>

            <a routerLink="/password-cracker" mdbBtn class="access" mdbWavesEffect>Try it now!</a>
          </mdb-card-body>
        </mdb-card>

      </div>
    </div>
<br>
<div class="row d-flex justify-content-center">
  <div class="col-md-4">
    <mdb-card >
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="/assets/symmetric.png" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Symmetric Encryption/Decryption</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text> This module allows you to encrypt or decrypt message using a passphrase
        </mdb-card-text>

        <a routerLink="/symmetric" mdbBtn class="access" mdbWavesEffect>Try it now!</a>
      </mdb-card-body>
    </mdb-card>

  </div>

  <div class="col-md-4">
    <mdb-card >
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="/assets/asymmetric.png" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Asymmetric Encryption/Decryption</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text> This module allows you to generate or import keys, encrypt, decrypt, sign or verify messages
        </mdb-card-text>

        <a routerLink="/asymmetric" mdbBtn class="access bouton" mdbWavesEffect>Try it now!</a>
      </mdb-card-body>
    </mdb-card>

  </div>

</div>

