<mdb-card-body>
  <mdb-card-title>
    <h4>Symmetric Decryption</h4>
  </mdb-card-title>
  <form class="form" #form="ngForm">
    <div class="form-group">
      <label for="message">Message :</label>

      <textarea
        mdbInput
        type="text"
        id="message"
        class="form-control"
        [(ngModel)]="message"
        placeholder="Enter the message to decrypt here"
        name="message"
        #messageInput="ngModel"
        required
        [disabled]="submitted"
        rows=15
      ></textarea>
    </div>

    <div
      class="alert alert-danger"
      *ngIf="messageInput.touched && messageInput.invalid"
    >
      Please Enter the message to decrypt
    </div>

    <div class="form-group">
      <label for="passphrase">Passphrase :</label>
      <input
        mdbInput
        type="text"
        class="form-control"
        [(ngModel)]="passphrase"
        placeholder="type the passphrase used in the encryption"
        id="passphrase"
        #passphraseInput="ngModel"
        required
        name="passphrase"
        [disabled]="submitted"
      />
    </div>

    <div
      class="alert alert-danger"
      *ngIf="passphraseInput.touched && passphraseInput.invalid"
    >
      Please Enter the passphrase used in the encryption
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        mdbBtn
        id="submitButton"
        (click)="decrypt()"
        mdbWavesEffect
        [disabled]="form.invalid||submitted"
      >
        Decrypt
      </button>
    </div>

    <div *ngIf="submitted" class="progress" style="position: relative;">
      <div class="progress-bar progress-bar-striped indeterminate bg-success"></div>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      Error : {{errorMessage}}
    </div>

    <div *ngIf="result&&result!='passphrase wrong'" class="alert alert-success">
      Message Decrypted Successfully:
      Encrypted Message:
      <div class="output">
        <textarea rows=15 class="form-control output" readonly>{{message}}</textarea>
       </div>
      Decrypted message:
      <div class="output">
        {{result}}
      </div>
      Passphrase used:
      <div class="output">
        {{passphrase}}
      </div>
    </div>

    <div *ngIf="result&&result=='passphrase wrong'" class="alert alert-success">
      Wrong passphrase used
    </div>
  </form>
</mdb-card-body>
