<mdb-card-body>
  <mdb-card-title>
    <h2 id="title">Import Public Key</h2>
  </mdb-card-title>

  <nav>
    <div class="nav nav-pills justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Import From Our Server</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Import Your Own Public Key</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <app-import-from></app-import-from>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <app-import-own></app-import-own>

    </div>





</div>
</mdb-card-body>
