<a routerLink="/"  mdbBtn class="back" mdbWavesEffect>< Menu</a>
<mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <h2 id="title">Encode/Decode</h2>
      </mdb-card-title>
      <div class="form-row">
        <div class="form-group col-md-6">
          <textarea
          mdbInput
          type="text"
          id="word"
          class="form-control"
          [(ngModel)]="word"
          placeholder="Enter the message to encode/decode here"
          name="word"
          required
          rows=5
        ></textarea>
        </div>
        <div class="actions form-group col-md-12">
            <button [disabled]="!word || word=='' || loading" type="button" (click)="encoder()" mdbBtn id="encode" mdbWavesEffect>Encode</button>
            <button [disabled]="!word || word=='' || loading" type="button" (click)="decoder()" mdbBtn id="decode" mdbWavesEffect>Decode</button>
        </div>
        <div *ngIf="loading" class="progress" style="position: relative;">
          <div class="progress-bar progress-bar-striped indeterminate"></div>
        </div>
        <div *ngIf="encodedWord || decodedWord" class="alert alert-success">
          Results:
          <div class="output" >{{encodedWord || decodedWord}}</div>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          Error : {{errorMessage }}
        </div>
    </div>
    </mdb-card-body>
  </mdb-card>
