<a routerLink="/"  mdbBtn class="back" mdbWavesEffect>< Main</a>
<mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <h4>Password Cracker</h4>
      </mdb-card-title>
      <div class="form-row">
        <div class="form-group col-md-4">
          <input mdbInput type="text" class="form-control" [(ngModel)]="password" placeholder="type the password here">
        </div>
        <div class="form-group col-md-4">
            <select [(ngModel)]="attackChoice" class="browser-default custom-select">
              <option selected>Select Attack Type</option>
              <option *ngFor="let type of types" [value]="type">{{type}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">

            <select [(ngModel)]="algorithm" class="browser-default custom-select">
              <option selected>Select Algorithm</option>
              <option *ngFor="let algorithm of algorithms" [value]="algorithm">{{algorithm}}</option>
            </select>
          </div>

        <div class="actions form-group col-md-12">
            <button type="button" mdbBtn id="encode" (click)="cracker()" mdbWavesEffect>Cracker</button>
        </div>

        <div *ngIf="notfound" class="alert alert-danger" role="alert">
            Password not found! sorry for that!
        </div>
        <h4 *ngIf="crackedPassword">Your results are ready: <mdb-badge>{{crackedPassword}}</mdb-badge></h4>
    </div>
    <div *ngIf="loading" class="progress" style="position: relative;">
        <div class="progress-bar progress-bar-striped indeterminate"></div>
    </div>

    </mdb-card-body>
  </mdb-card>
