mdb-card{
    width: 70%;
    margin: 0 auto;
}

.form-group{
    margin:10px auto;
   
}

.actions{
    text-align:center;
    color:white;
}

#encode{
    background-color: #649568;
}

#decode{
    background-color: #149414;
}

mdb-badge{
    background-color: #0e6b0e;
}

.progress-bar.indeterminate {
    position: relative;
    animation: progress-indeterminate 3s linear infinite;
  }
  
  @keyframes progress-indeterminate {
     from { left: -25%; width: 25%; }
     to { left: 100%; width: 25%;}
  }


  .alert{
    width: 100%;
    text-align: center;
  }