<a routerLink="/"  mdbBtn class="back" mdbWavesEffect>< Menu</a>

<mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <h2 id="title">Hash Encrypt</h2>
      </mdb-card-title>
   
      <div class="form-row">
        <div class="form-group col-md-12">
          <textarea
          mdbInput
          type="text"
          id="word"
          class="form-control"
          [(ngModel)]="word"
          placeholder="Enter the message to hash here"
          name="word"
          required
          rows=5
        ></textarea>
        </div>
        <div class="form-group col-md-12">
            <select [(ngModel)]="algorithm" class="browser-default custom-select">
              <option selected>Select Algorithm</option>
              <option *ngFor="let algorithm of algorithms" [value]="algorithm">{{algorithm}}</option>
            </select>
          </div>
        <div class="actions form-group col-md-12">
            <button [disabled]="algorithm == 'Select Algorithm' || loading" type="button" mdbBtn id="hasher" (click)="hasher()" mdbWavesEffect>Hash</button>
        </div>
        
        <div *ngIf="hashedWord" class="alert alert-success">
          Hashed message:
          <div class="output" >{{hashedWord}}</div>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          Error : {{errorMessage}}
        </div>
    </div>
    <div *ngIf="loading" class="progress" style="position: relative;">
      <div class="progress-bar progress-bar-striped bg-success indeterminate"></div>
   </div>
    </mdb-card-body>
  </mdb-card>
